/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

h1 { font-family: 'Bellerose'!important; font-weight:normal!important;  }
h2 { font-family: 'Bellerose'!important; font-weight:normal!important;  }
h3 { font-family: 'Bellerose'!important; font-weight:normal!important;  }
h4 { font-family: 'Bellerose'!important; font-weight:normal!important;  }
h6 { font-family: 'Bellerose'!important; font-weight:normal!important;  }
